
<h2 class="text-center bg-primary text-light mt-2 container">Welcome This is Login Page</h2>
<div class="mt-4 container" style="width: 500px;">
    <form action="#" [formGroup]="loginGroup"  >
        <div class="form-group">
      <label for="userName">UserName:</label>
      <input type="text" maxlength="10" minlength="3" class="form-control" autocomplete="off" placeholder="Enter your username" id="username" formControlName="username">
      <span id="error_message" *ngIf="!loginGroup.get('username').valid && loginGroup.get('username').touched">*Enter Username</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" minlength="6" maxlength="6" class="form-control" autocomplete="off" placeholder="Enter your password" id="password" formControlName="password">
     <span id="error_message" *ngIf="!loginGroup.get('password').valid && loginGroup.get('password').touched">*Enter Password</span>
    </div>
     <button class="btn btn-primary mt-2" (click)="login()" [disabled]="!loginGroup.valid">Login</button>
    </form>
</div>
<div>
  <img [src]="url" alt="" height="200px" width="200px">
</div>



<div clasdis="row">
  <div *ngFor="let url of boatUrls">
    <img [src]="url.boaturl" alt="" height="200px"width="200px">
    <img [src]="url.likeurl" alt="">
  </div>
</div>
<div>
  <h1 id="1" (click)="myfunction()">welcome</h1>
 <img [src]="timer_img" alt="" height="200px" width="200px" style="margin-left: 20%;">
</div> 

<div class="run">
  
</div>